<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Aleksei Proskurnov personal blog {% if page.post_title %}| {{ page.post_title }} {% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="author" content="Aleksei Proskurnov">
	<style>{% include layout.css%}</style>

	<link href="http://aproskurnov.github.io{% if page.url != '/index.html' %}{{ page.url }}{% endif %}" rel="canonical">
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-57255553-1', 'auto');
ga('send', 'pageview');
    </script>
</head>
<body>

<div class="content">
	<div class="logo">
		<a href="/">
			<pre>  @      @@@</pre>
			<pre> @ @     @  @</pre>
			<pre>@   @    @@@ </pre>
			<pre>@@@@@@   @   </pre>
			<pre>@   @ .  @   .</pre>
		</a>
	</div>
	<div class="posts">
		{{ content }}
	</div>
</div>
</body>
</html>
